<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>3 Minutes Personal Test</title>
</head>
<body>
  <form action="/submit" id="question-form" method="post">
    <!-- 1번 문제 -->
    <!-- <div class="question-item">
      <aside class="prev-btn">
        <button>
          <img src="../images/button-prev.png" alt="prev-btn">
        </button>
      </aside>
      <main class="main">
        <div class="status-bar">
          <div class="outter-box">
            <div class="inner-box"></div>
            <img src="../images/statusbar-icon.png" alt="">
          </div>
        </div>
        <div class="question-box  question-1">
          <h1>Q1. 하루 중 가장 기분이<br>좋은 시간대는 언제인가요?</h1>
          <ul class="answer-list">
            <li class="answer-item">
              <input type="radio" id="answer-1" name="question-1" value="mail">
              <label for="answer-1">
                <div class="answer-img" style="background-image: url(../images/morning.png);"></div>
                아침
                <span></span>
              </label>
            </li>
            <li class="answer-item">
              <input type="radio" id="answer-2" name="question-1" value="2">
              <label for="answer-2">
                <div class="answer-img" style="background-image: url(../images/lunch.png);"></div>
                오후나<br>이른 저녁
                <span></span>
              </label>
            </li>
            <li class="answer-item">
              <input type="radio" id="answer-3" name="question-1" value="3">
              <label for="answer-3">
                <div class="answer-img" style="background-image: url(../images/noon.png);"></div>
                늦은 밤
                <span></span>
              </label>
            </li>
          </ul>
        </div>
      </main>
      <aside class="next-btn">
        <button>
          <img src="../images/button-next.png" alt="next-btn">
        </button>
      </aside>
    </div> -->
    <!-- 2번 문제 -->
    <!-- <div class="question-item">
      <aside class="prev-btn">
        <button>
          <img src="../images/button-prev.png" alt="prev-btn">
        </button>
      </aside>
      <main class="main">
        <div class="status-bar">
          <div class="outter-box">
            <div class="inner-box"></div>
            <img src="../images/statusbar-icon.png" alt="">
          </div>
        </div>
        <div class="question-box  question-1">
          <h1>Q1. 하루 중 가장 기분이<br>좋은 시간대는 언제인가요?</h1>
          <ul class="answer-list answer-list-string">
            <li class="answer-item">
              <input type="radio" id="answer-3" name="question-2" value="3">
              <label for="answer-3">
                <span></span>
                A. 머리를 들고, 정명을 바라보며 천천히 걷는다.
              </label>
            </li>
            <li class="answer-item">
              <input type="radio" id="answer-3" name="question-2" value="3">
              <label for="answer-3">
                <span></span>
                A. 머리를 들고, 정명을 바라보며 천천히 걷는다.
              </label>
            </li>
            <li class="answer-item">
              <input type="radio" id="answer-3" name="question-2" value="3">
              <label for="answer-3">
                <span></span>
                A. 머리를 들고, 정명을 바라보며 천천히 걷는다.
              </label>
            </li>
            <li class="answer-item">
              <input type="radio" id="answer-3" name="question-2" value="3">
              <label for="answer-3">
                <span></span>
                A. 머리를 들고, 정명을 바라보며 천천히 걷는다.
              </label>
            </li>
          </ul>
        </div>
      </main>
      <aside class="next-btn">
        <button>
          <img src="../images/button-next.png" alt="next-btn">
        </button>
      </aside>
    </div> -->
    <!-- 6번 문제 -->
    <!-- <div class="question-item">
      <aside class="prev-btn">
        <button>
          <img src="../images/button-prev.png" alt="prev-btn">
        </button>
      </aside>
      <main class="main">
        <div class="status-bar">
          <div class="outter-box">
            <div class="inner-box"></div>
            <img src="../images/statusbar-icon.png" alt="">
          </div>
        </div>
        <div class="question-box">
          <h1>Q1. 하루 중 가장 기분이<br>좋은 시간대는 언제인가요?</h1>
          <ul class="answer-list question-6-answer-list">
            <li class="answer-item question-6-answer-item">
              <input type="radio" id="answer-1" name="question-6" value="mail">
              <label for="answer-1">
                <div class="answer-img" style="background-image: url(../images/black.png);"></div>
                  검정색
                <span></span>
              </label>
            </li>
            <li class="answer-item question-6-answer-item">
              <input type="radio" id="answer-2" name="question-6" value="2">
              <label for="answer-2">
                <div class="answer-img" style="background-image: url(../images/red.png);"></div>
                빨강 또는<br>주황색
                <span></span>
              </label>
            </li>
            <li class="answer-item question-6-answer-item">
              <input type="radio" id="answer-3" name="question-6" value="3">
              <label for="answer-3">
                <div class="answer-img" style="background-image: url(../images/yellow.png);"></div>
                  노랑 또는<br>연파랑색
                <span></span>
              </label>
            </li>
            <li class="answer-item question-6-answer-item">
              <input type="radio" id="answer-3" name="question-6" value="3">
              <label for="answer-3">
                <div class="answer-img" style="background-image: url(../images/green.png);"></div>
                  초록색
                <span></span>
              </label>
            </li>
            <li class="answer-item question-6-answer-item">
              <input type="radio" id="answer-3" name="question-6" value="3">
              <label for="answer-3">
                <div class="answer-img" style="background-image: url(../images/blue.png);"></div>
                  진한 파랑<br>또는 보라색
                <span></span>
              </label>
            </li>
            <li class="answer-item question-6-answer-item">
              <input type="radio" id="answer-3" name="question-6" value="3">
              <label for="answer-3">
                <div class="answer-img" style="background-image: url(../images/brown.png);"></div>
                  갈색 또는<br>회색
                <span></span>
              </label>
            </li>
            <li class="answer-item question-6-answer-item">
              <input type="radio" id="answer-3" name="question-6" value="3">
              <label for="answer-3">
                <div class="answer-img" style="background-image: url(../images/white.png);"></div>
                  흰색
                <span></span>
              </label>
            </li>
          </ul>
        </div>
      </main>
      <aside class="next-btn">
        <button>
          <img src="../images/button-next.png" alt="next-btn">
        </button>
      </aside>
    </div> -->
    <!-- 9번 문제 -->
    <!-- <div class="question-item">
      <aside class="prev-btn">
        <button>
          <img src="../images/button-prev.png" alt="prev-btn">
        </button>
      </aside>
      <main class="main">
        <div class="status-bar">
          <div class="outter-box">
            <div class="inner-box"></div>
            <img src="../images/statusbar-icon.png" alt="">
          </div>
        </div>
        <div class="question-box">
          <h1>Q1. 하루 중 가장 기분이<br>좋은 시간대는 언제인가요?</h1>
          <ul class="answer-list">
            <li class="answer-item">
              <input type="radio" id="answer-1" name="question-9" value="mail">
              <label for="answer-1">
                <div class="answer-img" style="background-image: url(../images/9-a.png);"></div>
                <span></span>
              </label>
            </li>
            <li class="answer-item">
              <input type="radio" id="answer-2" name="question-9" value="2">
              <label for="answer-2">
                <div class="answer-img" style="background-image: url(../images/9-b.png);"></div>
                <span></span>
              </label>
            </li>
            <li class="answer-item">
              <input type="radio" id="answer-3" name="question-9" value="3">
              <label for="answer-3">
                <div class="answer-img" style="background-image: url(../images/9-c.png);"></div>
                <span></span>
              </label>
            </li>
            <li class="answer-item">
              <input type="radio" id="answer-3" name="question-9" value="3">
              <label for="answer-3">
                <div class="answer-img" style="background-image: url(../images/9-d.png);"></div>
                <span></span>
              </label>
            </li>
            <li class="answer-item">
              <input type="radio" id="answer-3" name="question-9" value="3">
              <label for="answer-3">
                <div class="answer-img" style="background-image: url(../images/9-e.png);"></div>
                <span></span>
              </label>
            </li>
          </ul>
        </div>
      </main>
      <aside class="next-btn">
        <button>
          <img src="../images/button-next.png" alt="next-btn">
        </button>
      </aside>
    </div> -->
  </form>
  <script type="text/javascript" src="../js/question.js"></script>
</body>
</html>