<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/style.css">
  <title>3 Minutes Personal Test</title>
</head>
<body>
  <form action="/submit" id="question-form" method="post">
    <!-- 이전버튼 -->
    <aside class="aside-prev">
      <figure class="button-prev-image" style="background-image: url(./images/button-prev.png)">
        <img src="./images/button-prev.png" alt="button-prev-image">
      </figure>
    </aside>
    <!-- 컨텐츠 -->
    <main class="main">
    </main>
    <!-- 다음버튼 -->
    <aside class="aside-next">
      <figure class="button-next-image" style="background-image: url(./images/button-next.png)">
        <img src="./images/button-next.png" alt="button-next-image">
      </figure>
    </aside>
  </form>
  <script type="text/javascript" src="../js/question.js"></script>
</body>
</html>